@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Nunito+Sans:ital,wght@0,400;0,700;0,800;1,300;1,700&family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-image: '/assets/';
    /* background-color: yellow; */
}

 h1 {
    color: #61fbb8;
    text-align: center;
    margin-bottom: 30px;
} 

.eraser{
    color: #151917;
    text-align: center;
    padding: 20px 10px;
    margin-top: 30px;
    margin-left: 45%;
}

.pencil {
    background-image: url("/assets/img");
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.about {
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 70px;
    gap: 10px;
}


header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 80px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: white;
    font-weight: 800;
    margin-left: 40px;
    text-decoration: none;
}

.circle{
    display: flex;
    align-items: right;
    justify-content: right;
    background-color: black;
    height: 60px;
    color: white;
    padding: 20px;
    /* border-radius: 8px; */
    /* margin-bottom: 20px; */
    gap: 10px;
}